@media (max-width: 1280px) {
    .cabecalho {
        display: flex;
        justify-content: center;
    }

    .campo-nome {
        width: 30%;
    }

    .campo-telefone {
        width: 36%;
    }

    .campo-exp {
        width: 1%;
    }

    .campo-acoes {
        width: 1%;
    }
}